body {
  font-family: sans-serif;
}
section {
  width: 780px;
  max-width: 100%;
  margin: 1em auto 3em;
}
h1,
h2,
.timer-container {
  text-align: center;
}
.timer-text {
  font-size: 1.5em;
  text-align: center;
}
.timer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.timer-wrapper > div {
  margin: 7px;
}
.timer-wrapper > div > strong {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  width: 64px;
  height: 64px;
  font-size: 2em;
  line-height: 1;
  border-radius: 4px;
}
.timer-wrapper > div > span {
  line-height: 32px;
}
